@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.instagram::before {
  content: "";
  position: absolute;
  inset: 0;
  margin-top: -4px;
  background: linear-gradient(to right, #fdc366, #ee877e, #df4896);
  z-index: -1;
  border-radius: 3px;
}
.toggle {
  appearance: none;
  width: 48px;
  height: 24px;
  border-radius: 34px;
  position: relative;
}
.toggle:hover {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.toggle::before {
  position: absolute;
  content: "";
  background-color: #f0f4fa;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  transition: transform 300ms ease-in;
}

.toggle:checked::before {
  position: absolute;
  content: "";
  background-color: #f0f4fa;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translate(20px, -50%);
  transition: transform 300ms ease-in;
}

@media (min-width: 1024px) {
  body {
    position: relative;
    z-index: -1;
  }
  header {
    position: relative;
    z-index: -1;
  }
  .instagram {
    /* z-index: 3; */
  }
  .instagram::before {
    margin-top: -3px;
    max-width: 255px;
  }
}
